$displays:(
  rowdisplay:flex,
  centradoDis:center,
  itemcenter:center,
  diretionflex:row,
  widthMax:1200px,
  margCenter:auto,
);

$customA:(
  decoration:none,
  backgrounTrans:transparent,
  backgrounwhite:white,
  borderA:2px white solid,
);